In [ ]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Random seed for reproducibility
seed = 10
np.random.seed(seed)
# Import datainput
# df = pd.read_csv('..//content/TrainingData.csv', sep = ' ', header = None)
# Print first 10 samples
# print(df.head(10))

In [ ]:
train_data = pd.read_csv('drive/MyDrive/Cyber project/training data 2.csv')
train_data.head(5)

   local_ips  remote_ip  tcp_udp_ratio  ...  udns  ntp_3650+  category
0          4          7       0.000000  ...     1          0         2
1          0          1       1.000000  ...     0          0        12
2          6          3       0.750000  ...     0          0         2
3          0          2       0.500000  ...     0          0        11
4          4          5       0.821429  ...     1          0         0

[5 rows x 15 columns]

In [ ]:
dataset = train_data.values
dataset.shape

(72944, 15)

In [ ]:
train_data

       local_ips  remote_ip  tcp_udp_ratio  ...  udns  ntp_3650+  category
0              4          7       0.000000  ...     1          0         2
1              0          1       1.000000  ...     0          0        12
2              6          3       0.750000  ...     0          0         2
3              0          2       0.500000  ...     0          0        11
4              4          5       0.821429  ...     1          0         0
...          ...        ...            ...  ...   ...        ...       ...
72939          0          1       1.000000  ...     0          0        11
72940          5          6       0.000000  ...     2          0         2
72941          1          2       0.666667  ...     1          0         5
72942          6          4       0.950000  ...     0          0         3
72943          4         18       0.285714  ...    10          0         9

[72944 rows x 15 columns]

In [ ]:
train_data['category'].unique()

array([ 2, 12, 11,  0,  7,  1,  8,  4,  6,  3, 10,  9,  5])

In [ ]:
X = dataset[:,0:14]
Y = dataset[:,-1]
print(X.shape)
print(Y.shape)

(72944, 14)
(72944,)

In [ ]:
# Y.flatten()

In [ ]:
# Normalize features within range 0 (minimum) and 1 (maximum)
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)
X = pd.DataFrame(X)

In [ ]:
# Convert target Y to one hot encoded Y for Neural Network
#Y = pd.get_dummies(Y)

# If target is in string form, use following code:
# First encode target values as integers from string
# Then perform one hot encoding
# encoder = LabelEncoder()
# encoder.fit(Y)
# Y = encoder.transform(Y)
Y = np_utils.to_categorical(Y)

In [ ]:
# First define baseline model. Then use it in Keras Classifier for the training
from tensorflow.keras import optimizers
def baseline_model():
    # Create model here
    model = Sequential()
    model.add(Dense(28, input_dim = 14, activation = 'relu')) # Rectified Linear Unit Activation Function
    model.add(Dense(32, activation = 'relu'))
    model.add(Dense(13, activation = 'softmax')) # Softmax for multi-class classification
    # Compile model here
    optimizer = optimizers.SGD(0.01)
    model.compile(loss='categorical_crossentropy',optimizer=optimizer, metrics=['accuracy'])

    return model

In [ ]:
# Create Keras Classifier and use predefined baseline model
estimator = KerasClassifier(build_fn = baseline_model, epochs = 100, batch_size = 10, verbose = 0)
# Try different values for epoch and batch size

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.

In [ ]:
# KFold Cross Validation
kfold = KFold(n_splits = 5, shuffle = True, random_state = seed)
# Try different values of splits e.g., 10

In [ ]:
# Object to describe the result
results = cross_val_score(estimator, X, Y, cv = kfold)
# Result
print("Result: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Result: 82.25% (1.93%)